$light: #ffffff;
$dark: #151932;
$primary: #81ac27;
$secondary: #e9ecff;
$black: rgb(83, 80, 80);
$info: #f2f2f2;

// Top Header
$form-select-indicator-color: white;

@import "../node_modules/bootstrap//scss/bootstrap.scss";

// Top Header
.top-header {
  ion-icon {
    cursor: pointer;
  }
}
// Mid Header
.mid-header {
  .form-control {
    border-radius: 15px 0px 0px 15px;
  }

  .position-relative {
    margin-bottom: -10px;
  }

  .btn-search {
    cursor: pointer;
  }

  .cart {
    span {
      margin-left: 12px;
    }
    ion-icon {
      font-size: 40px;
    }
  }
}

// Nav
.navbar {
  // Navbar button focus remove

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .navbar-nav {
    a {
      color: $light;

      &.active {
        background-color: $primary;
      }
      &:hover {
        @extend .active;
        color: $light;
      }
    }
  }
}

// Intro
.intro {
  background-image: url("../assests/images/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;

  .offer {
    height: 100px;
    width: 100px;
  }
}

// offer circle

// deals
.deal {
  margin-top: -60px;
}

// Profile
.profile-img {
  width: 10%;
  border: 5px solid white;
  outline: 1px solid $primary;
}

// Discount

.discount-bg {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

// Category Menu
.category-menu {
  .nav-link {
    &:hover {
      background-color: $primary;
      color: white;
      cursor: pointer;
    }
  }
  .active {
    color: white;
    background-color: $primary;
  }
}

// Carosel Indicator
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $dark;
  opacity: 1;

  &.active {
    background-color: $primary;
    width: 11px;
    height: 11px;
  }
}

// Footer
footer {
  height: 100vh;
  // overflow: hidden;

  img {
    height: 100vh;
  }

  a {
    &:hover {
      background-color: $primary;
    }
  }

  .input-group {
    ::placeholder {
      color: $info;
    }
  }
}
