$light: #ffffff;
$dark: #151932;
$primary: #81ac27;
$secondary: #f2f2f2;
$black: rgb(83, 80, 80);


@import '../node_modules/bootstrap//scss/bootstrap.scss';


// Mid Header
.mid-header{

  .cart{

    span{
      margin-left: 12px;
    }
    ion-icon{
      font-size: 40px;
    }

  }
}

// Navbar
.navbar-nav{

  a{
    color: $light;

    &.active{
      background-color: $primary;
    }
    &:hover{
      @extend .active;
      color: $light;
    }
  }
}